
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.RegisterCon{
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 13px;
    box-shadow:
    7px 7px 15px #e6e5e5,
    1px -10px 15px #f4f4f4

}
.RegisterCon h1{
   text-align: center;
}
.RegisterCon form{
    margin-top: 10px;
}
.RegisterCon form p{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 0;

}
.RegisterCon form input{
    display: flex;
    width: 100%;
    padding:14px 10px;
    border: 1px solid rgb(211, 210, 210);
}
.RegisterCon form label{
    font-size: 1.15em;
}
.RegisterCon form .Submit{
    width: 100%;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
 
 }
.RegisterCon form input[type="submit"]{
    
    all: unset;
    background-color: bisque;
    font-size: 1.15em;
    padding:12px 18px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
}


.RegisterCon .SignIn{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.1em;
    a{  color: blue;
        text-decoration: none;}
    a:hover{text-decoration:underline;}
}

.RegisterCon form span,ul{
   display: none;
}

@media (max-width:430px){
    .RegisterCon{
        width: 80%;
        
    }
    .RegisterCon .SignIn{
        flex-direction: column;
        
    }
}
