<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page is Under Development</title>
    <style>
        body{
            display: grid;
            place-content: center;
            height: 100vh;
        }
        .Construct{
            width: 100%;
        }
        .Construct span{
            font-size:2em;
            font-weight:600;
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }
    </style>
</head>

<body>
    <div class="Construct">
        <span>This page is under development</span>
    </div>
</body>
</html>